<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd

">

    <bean class="it.cast.aop.Target" id="target"/>
    <bean class="it.cast.aop.MyAspect" id="myAspect"/>

    <aop:config>
        <aop:aspect ref="myAspect">
            <aop:pointcut id="Aspenct" expression="execution(void it.cast.aop.Target.save())"/>
            <aop:before method="befoce" pointcut-ref="Aspenct"/>

        </aop:aspect>
    </aop:config>


</beans>